{
  "env": {
    "browser": true,
    "meteor": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "plugin:meteor/recommended"
  ],
  "globals": {
    "FlowRouter": true
  },
  "plugins": [
    "meteor"
  ],
  "rules": {
    "import/no-unresolved": [ 2, {
      "ignore": ["^meteor/"]
    }]
  }
}
